<div class="container">
  <div class="header">
    <img src="https://www.anya-capital.com/en/content/portfolio/Epicode/epicode.png" alt="Background Image">
    <button (click)="toggleContacts()">Contatti</button>
  </div>
  <div class="contacts" [ngClass]="{'show': showContacts}">
    <ul>
      <li><a href="https://www.linkedin.com/silvio-lampignano" target="_blank">LinkedIn</a></li>
      <li><a href="https://github.com/DwightKSchrute9" target="_blank">GITHUB:https://github.com/DwightKSchrute9</a></li>
      <li><a href="silviolampignano@gmail.com">EMAIL:silviolampignano@gmail.com</a></li>
    </ul>
  </div>
</div>
