.aside {
  width: 300px;
  margin-left: 20px;
  padding: 20px;
  margin: 20px;
  background-color: rgb(48, 56, 53);


  .bet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #343a40;
    padding: 0 10px;

    .bet-title {
      color: #fff;
      font-size: 20px;
      margin: 0;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .bet-icon {
      display: flex;
      align-items: center;


      .bet-count {
        background-color: #fff;
        color: #343a40;
        font-size: 12px;
        font-weight: bold;
        padding: 3px 6px;
        border-radius: 50%;
        margin-left: 5px;
      }
    }
  }

  .bet-content {
    padding: 20px;

    .bet-placeholder {
      font-size: 16px;
      font-weight: bold;
    }

    .bet-selection {
      font-size: 16px;
      font-weight: bold;
      margin-top: 10px;
    }
    .bet-btn {
      padding: 10px;
      width: 100%;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 20px;
      background-color: rgb(14, 53, 14);
      border-radius: 8px;
      &:hover{
        background-color: green;
        box-shadow: 0 9px #474242;
        transform: translateY(6px);
        border-radius: 15px;
      }

    }
    #bet-amount{
      padding: 8px;
      background-color: rgb(68, 63, 63);
      color: wheat;
      margin: 10px;
      border-radius: 5px;
    }
    .bet-moltiplicatore{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 20px;
      color: greenyellow;
    }
  }
}
