

<aside class="aside">
  <div *ngFor="let bet of cartService.bets">
    <app-bet [bet]="bet" (betSelected)="updateSelectedBet($event)" (onRemoveBet)="cartService.removeBet($event)"></app-bet>
  </div>
  <div class="bet-header">
    <h5 class="bet-title">Schedina</h5>
    <div class="bet-icon">
      <i class="fa fa-shopping-cart"></i>
      <span class="bet-count">{{ cartService.bets.length }}</span>
    </div>
  </div>
  <div class="bet-content">
    <p class="bet-placeholder" *ngIf="!isBetSelected">
      Cliccare su una quota per inserirla nel carrello o inserisci un codice da caricare
    </p>
    <p class="bet-selection" *ngIf="isBetSelected">
      Hai selezionato la quota {{ selectedBet }}. Inserisci l'importo e procedi con la scommessa.
    </p>
    <div class="bet-amount">
      <label for="bet-amount">Importo scommessa:</label>
      <input type="number" id="bet-amount" [(ngModel)]="cartService.betAmount" required>
      </div>
    <button class="bet-btn" (click)="placeBet()" [disabled]="!isLoggedIn() || showErrorMessage">Scommetti</button>
    <p class="bet-error" *ngIf="showErrorMessage">Hai bisogno di registrarti per poter scommettere</p>
  </div>
  <div class="bet-content" *ngIf="cartService.bets.length > 0">
    <p class="bet-moltiplicatore">Moltiplicatore: {{moltiplicatore()}}</p>
    <p class="bet-vincita">Vincita: {{ (moltiplicatore() * cartService.betAmount).toFixed(2) }}</p>
  </div>
</aside>
