<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Sicurezza e responsabilità</h4>
        <p>IL GIOCO È VIETATO AI MINORI  PUÒ CAUSARE DIPENDENZA PATOLOGICA</p>
      </div>
      <div class="col-md-4">
        <h4>Giochi Virtuali</h4>
        <ul>
          <li>Come Giocare</li>
          <li>Registrazione</li>
          <li>Contratto di gioco</li>
          <li>Versamenti</li>
          <li>Prelievi</li>
          <li>Supporto</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Chi siamo</h4>
        <ul>
          <li>CatBet</li>
          <li><a routerLink="/contatti">Contatti</a></li>
          <li>FAQ</li>
          <li>Assistenza</li>
        </ul>
      </div>
    </div>
    <hr>

  </div>
</footer>

