<main class="container">
  <section class="row mt-4">
    <div class="col-md-4">
      <!-- Ricerca sport -->
    </div>
    <div class="col-md-8">
      <div class="card bg-light">
        <div class="card-body">
          <h3 class="card-title">Quote del giorno</h3>
          <hr>
          <!--<app-banner></app-banner> -->

          <app-aside></app-aside>
                <!-- Tabella quote del giorno -->
                <app-matches></app-matches>

        </div>
      </div>
    </div>
  </section>
  <section class="row mt-4">
    <div class="col-md-3">
      <!-- Betslip -->


    </div>
  </section>
</main>
