<div class="container" [class.open]="isOpen">
  <button (click)="toggleList()">Scommesse</button>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th class="d-none d-md-table-cell">Moltiplicatore</th>
        <th>Scommessa</th>
        <th>Vincita</th>
        <th>Stato</th>
        <th>Risultato</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bet of bets">
        <!--<td class="squadre" *ngFor="let element of bet.betElements">
          {{ element.match}}
          {{ element.betType }}
          {{ element.odd}}
        </td>-->
        <td class="squadre">{{ bet.id }}</td>
        <td class="quote col-4 col-md d-none d-md-table-cell"><span class="odd">{{ bet.odd | number: '1.2-2' }}</span></td>
        <td class="squadre">{{ bet.betAmount }}</td>
        <td class="squadre">{{ bet.winAmount }}</td>
        <td class="squadre">{{ bet.betStatus }}</td>
        <td class="squadre">{{ bet.betResult }}</td>

      </tr>
    </tbody>
  </table>
</div>
