<div class="container">
  <table class="table table-striped table-bordered mx-auto">
    <thead>
      <tr>
        <th>Id</th>
        <th>Data</th>
        <th>Squadra di casa</th>
        <th>Squadra ospite</th>
        <th>Stadio</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let match of matches">
        <td>{{ match.id }}</td>
        <td>{{ match.date }}</td>
        <td>{{ match.homeTeam }}</td>
        <td>{{ match.awayTeam }}</td>
        <td>{{ match.stadium }}</td>
      </tr>
    </tbody>
  </table>
</div>


