<thead >PARTITE IN PRIMO PIANO</thead>

<div class="card-container">

<mat-card class="example-card">
  <table>
    <thead> 0re : 20.30</thead>
    <tr>
      <td>
        <img src="https://example.com/juventus-logo.jpg" alt="Juventus">
        Juventus
      </td>
      <td>vs</td>
      <td>
        <img src="https://example.com/milan-logo.jpg" alt="Milan">
        Milan
      </td>
    </tr>
    <tr>
      <td class="quoteCard">3.30</td>
      <td><hr></td>
      <td class="quoteCard">2.30</td>
    </tr>

  </table>
</mat-card>


<mat-card class="example-card">
  <table>
    <thead> 0re : 20.30</thead>
    <tr>
      <td>
        <img src="https://example.com/juventus-logo.jpg" alt="Juventus">
        Bragantino
      </td>
      <td>vs</td>
      <td>
        <img src="https://example.com/milan-logo.jpg" alt="Milan">
        Sao Paolo
      </td>
    </tr>
    <tr>
      <td class="quoteCard">3.30</td>
      <td><hr></td>
      <td class="quoteCard">2.30</td>
    </tr>

  </table>
</mat-card>

<mat-card class="example-card">
  <table>
    <thead> 0re : 20.30</thead>
    <tr>
      <td>
        <img src="https://example.com/juventus-logo.jpg" alt="Juventus">
        Juventus
      </td>
      <td>vs</td>
      <td>
        <img src="https://example.com/milan-logo.jpg" alt="Milan">
        Milan
      </td>
    </tr>
    <tr>
      <td class="quoteCard">3.30</td>
      <td><hr></td>
      <td class="quoteCard">2.30</td>
    </tr>

  </table>
</mat-card>

<mat-card class="example-card">
  <table>
    <thead> 0re : 20.30</thead>
    <tr>
      <td>
        <img src="https://example.com/juventus-logo.jpg" alt="Juventus">
        Juventus
      </td>
      <td>vs</td>
      <td>
        <img src="https://example.com/milan-logo.jpg" alt="Milan">
        Milan
      </td>
    </tr>
    <tr>
      <td class="quoteCard">3.30</td>
      <td><hr></td>
      <td class="quoteCard">2.30</td>
    </tr>

  </table>
</mat-card>

<mat-card class="example-card">
  <table>
    <thead> 0re : 20.30</thead>
    <tr>
      <td>
        <img src="https://example.com/juventus-logo.jpg" alt="Juventus">
        Juventus
      </td>
      <td>vs</td>
      <td>
        <img src="https://example.com/milan-logo.jpg" alt="Milan">
        Milan
      </td>
    </tr>
    <tr>
      <td class="quoteCard">3.30</td>
      <td><hr></td>
      <td class="quoteCard">2.30</td>
    </tr>

  </table>
</mat-card>
</div>
