

  table {
    border-collapse: collapse;

    &:hover {

      font-size: 1.2em;
      font-weight: bold;


    }

    img{
      width: 30px;
      height: 30px;
    }

  }
  td, thead{
    border: 1px ;
    padding: 5px;
    font-weight: bold;
  }
  tr:nth-child(2) {
    border-top: 1px solid rgb(15, 13, 13);
  }
  .quoteCard {
    color: blue;
    font-weight: bold;
    &:hover {
      background-color: #78ca1b;

    }
  }



  @media (max-width: 600px) {
  .card-container {
  flex-direction: column;

  }
  .example-card{
    margin: 9px;
    background-color: rgb(179, 173, 173);
  }
}


.example-card {
  max-width: 380px;
  background-color: rgb(179, 173, 173);


}



.card-container {
  width: 98%;
  overflow-x: scroll;
  white-space: nowrap;
  align-items: center;
  }

  .cards-wrapper {
  display: inline-block;
  }

  .example-card {
  display: inline-block;
  vertical-align: top;
  width: 320px;
  margin-right: 20px;
  /* aggiungere altri stili CSS per le cards se necessario */
  }

  .controls {
  margin-top: 20px;
  }

  .prev-button, .next-button {
  background-color: #ddd;
  border: none;
  padding: 10px;
  cursor: pointer;
  }

  .prev-button:hover, .next-button:hover {
  background-color: #ccc;
  }

  .prev-button {
  float: left;
  }

  .next-button {
  float: right;
  }
